body
{
    margin:0% 0%;
    padding:0px;
    font: 14px sans-serif;
    color:#969698;
    font-size:16px;
}
header
{
        color:#FDF4F2;
}
header a
{
    color:#FDF4F2;
    text-decoration:none;
    font: 14px sans-serif;
}
section
{
}
footer
{
}
.header-hat
{
    height:80px;
    overflow: hidden;
    background-color:#DB5940;
}
.title
{
    /*text-transform:uppercase;*/
    margin:30px 0px 20px 20%;
    font-size:18px;
    float:left;
}
.header-hat ul
{
    margin:30px 0px 20px 57%;
}
.header-hat ul li
{
    padding:0px 18px;
    display:inline-block;
}

.header-citation
{
    /*outline: 1px solid red;*/
    height:140px;
    padding:0px;
    overflow: hidden;
        /*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    /*font-weight:300;*/
    color:#969698;
    text-align:center;
    background-color:#38373B;
}
h1
{
   text-transform:uppercase; 
}
.header-image
{
    height:400px;
    background-color:#969698;
    background-image:url("../images/6_02.gif");
    BACKGROUND-POSITION-X: CENTER;
    
}
/*-----------------------------------------------------*/

.top-section
{
    height:420px;
    background-color:#F4F4F4;
    color:#969698;
}
.sc1-border 
{
    margin:0% 15%;
    height:420px;
    width:70%;
   /*outline: 1px solid red;*/
}
.ts-div
{
	text-align:center;
	/*outline: 1px solid red;*/
    height: 70%;
    width:25%;
    float:left;
    padding:65px 4% 0px 4%;
    
    
   
}

.ts-div3
{

}
.ts-div2
{
    
}
.ts-div1
{  

}
.sc1-image
{
	height:130px;
    width:130px;
	background-repeat:no-repeat;
	margin:auto;
    /*border: 2px solid #B9B8BE;
	border-radius: 30px;*/
}
.heart-image
{
	    background-image:url("../images/6_09 (2).gif");
		
}
.pencil-image
{
	background-image:url("../images/6_06.gif");
}
.flag-image
{
	background-image:url("../images/6_03.gif");
}
.section-header,.sc2-div p
{
    font: 23px sans-serif;
    color:#605F64;
}
.arrow-image
{
    background-image:url("../images/6_15.gif");
    height:30px;
    width:25px;
    margin:auto;
}


/*--------------------------------------------------------*/
.bottom-section
{
    height:620px;
    width:100%;
    background-color:#FFFFFF;
}
.section2-leftDiv
{
    height:620px;
    width:30%;
    margin:0px 0px 0px 20%;
    float:left;
    text-align:right;
}
.section2-rightDiv
{
    height:620px;
    width:30%;
    margin:0px 0px 0px 0%;
    float:left;
}
.section-link
{
    color:#DB5940;
}

.sc2-div
{
    height:230px;
    float:right;
}
.sc2-img
{
    height:200px;
    width:200px;
}
.sc2-topleftImg
{
        background-image:url("../images/6_22.gif");
        margin: -25% 0% 0px 63%;

}
.sc2-botleftImg
{
        background-image:url("../images/6_26.gif");
        margin: -25% 0% 0px 63%;
}

.sc2-toprightImg
{
        background-image:url("../images/6_19.gif");
        margin: -25% 63% 0px 2%;
}
.sc2-botrightImg
{
        background-image:url("../images/6_28.gif");
        margin: -25% 63% 0px 2%;
}

.sc2-textleft
{   
   padding:20% 40% 0px 0px; 
}
.sc2-textright
{
    padding:20% 0% 0px 40%; 
}

/*------------------------------------------------------*/

footer
{
    height:522px;
    background-color:#38373B;
}

.footer-top
{
    height:225px;
    margin:0% 20%;
    overflow: hidden;
}
.inf-block
{
    height:225px;
    float:left;
    width:33%;
    padding:75px 0px 0px 0px;
    overflow: hidden;
}
hr
{
    color:#4F4E53;
}
a:hover
{
    color:green;
}

.tf-img
{
    height:70px;
    width:70px;
    float:left;
}
.tf-arr
{
        background-image:url("../images/6_33.gif");
}
.tf-micro
{
        background-image:url("../images/6_36.gif");
}
.tf-pers
{
        background-image:url("../images/6_39.gif");
}
.tf-text
{
    padding:0px 0px 0px 28%;
}

/*----*/
.footer-bottom
{
    height:280px;
    /*outline: 1px solid red;*/
    text-align:center;

}
.bf-header
{
    padding: 50px 0px 0px 0px;
    color:#E6E6E6;
    font-size:22px;
}

.simple-link
{
    color:#969698;
}
.footer-bottom  input[type="email"]
{
    height:50px;
    width:455px;
    background-color:#DB5940;
    border-bottom-left-radius:7px;
    border-top-left-radius:7px;
    font-size:14px;
    border:0px;
    margin:0px 0px 0px 0%;
    padding: 0px 0px 0px 20px;
    color: #FFFFFF;
    box-sizing :border-box;
}
.bf-button
{
    height:50px;
    width:115px;
    background-color:#FFF;
    border-bottom-right-radius:7px;
    border-top-right-radius:7px;
    font-size:16px;
    border:0px;
    margin:0px 0px 0px 0%;
    color:#DB5940;

}